# mezzio-skeleton specific
includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
	fileExtensions:
		# Standard php files and .dist config files
		- php
		- dist
	excludes_analyse:
		- src/MezzioInstaller/Resources/src/ConfigProvider.flat.php
		- src/MezzioInstaller/Resources/src/ConfigProvider.modular.php
	reportUnmatchedIgnoredErrors: true
	ignoreErrors:
		- '#Class App\\ConfigProvider not found#'
		# - '#Class Mezzio\\Swoole\\ConfigProvider not found#'
