{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Welcome to <span class="zf-green">zend-expressive</span></h1>
        <p>
            Congratulations! You have successfully installed the
            <a href="https://github.com/zendframework/zend-expressive-skeleton" target="_blank">zend-expressive skeleton application</a>.
            This skeleton can serve as a simple starting point for you to begin building your application.
        </p>
        <p>
            Expressive builds on zend-stratigility to provide a minimalist PSR-7 middleware framework for PHP.
        </p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>
                <a href="https://zend-expressive.readthedocs.org/en/latest/features/" target="_blank">
                    <i class="fa fa-refresh"></i> Agile &amp; Lean
                </a>
            </h2>
            <p>
                Expressive is fast, small and perfect for rapid application development, prototyping and api's. You decide how you
                extend it and choose the best packages from major framework or standalone projects.
            </p>
        </div>

        <div class="col-md-4">
            <h2>
                <a href="https://github.com/zendframework/zend-diactoros" target="_blank">
                    <i class="fa fa-exchange"></i> HTTP Messages
                </a>
            </h2>
            <p>
                HTTP messages are the foundation of web development. Web browsers and HTTP clients such as cURL create
                HTTP request messages that are sent to a web server, which provides an HTTP response message.
                Server-side code receives an HTTP request message, and returns an HTTP response message.
            </p>
        </div>

        <div class="col-md-4">
            <h2>
                <a href="https://github.com/zendframework/zend-stratigility" target="_blank">
                    <i class="fa fa-dot-circle-o"></i> Middleware
                </a>
            </h2>
            <p>
                Middleware is code that exists between the request and response, and which can take the incoming
                request, perform actions based on it, and either complete the response or pass delegation on to the
                next middleware in the queue. Your application is easily extended with custom middleware created by
                yourself or <a href="https://packagist.org/search/?q=middleware" target="_blank">others</a>.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>
                <a href="https://zend-expressive.readthedocs.org/en/latest/container/intro/" target="_blank">
                    <i class="fa fa-cube"></i> Containers
                </a>
            </h2>
            <p>
                Expressive promotes and advocates the usage of Dependency Injection/Inversion of Control containers
                when writing your applications. Expressive supports multiple containers which typehints against
                <a href="https://github.com/container-interop/container-interop" target="_blank">container-interop</a>.
            </p>
        </div>

        <div class="col-md-4">
            <h2>
                <a href="{{ routerDocsUrl }}" target="_blank">
                    <i class="fa fa-plane"></i> {{ routerName }}
                </a>
            </h2>
            <p>
                One fundamental feature of zend-expressive is that it provides mechanisms for implementing dynamic
                routing, a feature required in most modern web applications. Expressive ships with multiple adapters.
                Learn more about <a href="{{ routerExtUrl }}" target="_blank">{{ routerName }}</a>.
            </p>
        </div>

        <div class="col-md-4">
            <h2>
                <a href="https://zend-expressive.readthedocs.org/en/latest/template/twig/" target="_blank">
                    <i class="fa fa-files-o"></i> Twig Template Engine
                </a>
            </h2>
            <p>
                Twig is a modern template engine for PHP. It compiles templates down to plain optimized PHP code. It
                has a secure sandbox mode to evaluate untrusted template code. And it is powered by a flexible lexer
                and parser which allows the developer to define its own custom tags and filters.
                Learn more about <a href="http://twig.sensiolabs.org/" target="_blank">Twig</a>.
            </p>
        </div>
    </div>
{% endblock %}
