<?php

use Zend\ConfigAggregator\ConfigAggregator;

return [
    // Cache the configuration: Recommended for production
    // Closures used somewhere in the configuration make caching impossible
    ConfigAggregator::ENABLE_CACHE => false,
];
